@import "vars";

::ng-deep .result-modal {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;

  &.lose {
    .result-modal-body__text {
      color: $red;
    }
  }

  & .mdc-dialog-panel {
    width: 500px;
    height: 300px;
  }

  & .mat-mdc-dialog-surface {
    width: 500px;
    height: 300px;
    overflow: hidden;
    background: $bg-main;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text-white;

    & .close {
      font-size: 33px;
      rotate: 315deg;
      cursor: pointer;
      color: $text-white;
    }
  }

  &-body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
      font-size: 24px;
      color: $green;
    }
  }

  &-footer {
    align-self: flex-end;
  }
}
